* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	text-decoration: inherit;
	line-height: inherit;
	color: inherit;
}

html, body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 10px;
	line-height: 30px;
	color: #444;
    text-shadow: 1px 1px 0px #fff;
}

body {
	text-align: center;
}

h1 {
	font-size: 36px;
	line-height: 50px;
	font-weight: bold;
}

h2 {
    font-size: 20px;
    color: #00g;
    line-height: 40px;
    font-weight: bold;
}

section {
    border-top: 2px dashed #eee;
    padding: 50px 0px;
    width: 800px;
    margin: 0 auto;
}

.hero-image {
    background-image: url("HZDbanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0px;
    padding: 0px;
}

.hero img {
    width: 100%;
    height: 100%;
}

.hero {
    font-family: "Myriad CAD", Helvetica, sans-serif;
    color: white;
    text-shadow: 0px 0px 0px;
}

.headshot {
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1s;
}

.headshot:hover {
    transform: rotate(360deg);
}