/* Variables */
:root {
    --menu: rgb(68, 68, 68, 0.85)
}

/* Defaults */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	text-decoration: inherit;
	line-height: inherit;
	color: inherit;
}
html, body {
    font-family: "Myriad CAD", Helvetica, sans-serif;
    font-size: 10px;
    line-height: 30px;
    color: white;
    background-image: url("HZDbanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* General Styling */
body {
}
h1 {
	font-size: 36px;
	line-height: 50px;
	font-weight: bold;
    text-transform: uppercase;
}
h2 {
    font-size: 20px;
    color: #000;
    line-height: 40px;
    font-weight: bold;
}

/* Home Page */
.hero {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0px;
    padding: 0px;
    
    text-align: center;
    font-family: "Myriad CAD", Helvetica, sans-serif;
    color: white;
    text-shadow: 0px 0px 0px;
    position: relative;
    z-index: 1;
}
.hero img {
    width: 100%;
    height: 100%;
}

/* My Image */
.headshot {
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1s;
}
.headshot:hover {
    transform: rotate(360deg);
}

/* Hamburger Menu Thing */
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label::before,
.nav-toggle-label::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: page;
}
.nav-toggle-label::before,
.nav-toggle-label::after {
    content: '';
    position: absolute;
}
.nav-toggle-label::before {
    bottom: 7px;
}
.nav-toggle-label::after {
    top: 7px;
}

/* Navigation Drop Down */
header {
    height: 35px;
    text-align: center;
    z-index: 2;
    position: fixed;
    width: 100%;
}
nav {
    position: absolute;
    padding-top: 20%;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;

    font-size: 24px;
    text-align: center;

    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #808080;
}

/* Checkbox Functionality */
.nav-toggle {
    display: none;
}
.nav-toggle:checked ~ nav {
    display: block;
    background-color: var(--menu);
    transform: scale(1,1);
}

.about {
    position: relative;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 800px;
    background-color: rgba(40, 40, 40, 0.75);
    color: white;
}
.about h1 {
    padding: 25px 0;
    text-align: center;
}
.about p {
    margin: 0 50px;
    line-height: 20px;
    text-align: left;
    font-size: 14px;
}